* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header#top {
    background-color: #1f272a;
    text-align: center;
    color: lightgrey;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bolder;
    width: 100vw;
}

img#big {
    display: none;
}

section {
    width: 100%;
}
article h3 {
    text-align: center;
    line-height: 5px;
}


article p {
    color: darkgray;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px dotted darkgrey;
    margin: 0;
}

section#right {
    padding-top: 19.92px;
}

img#small {
    width: 100%;
}

div {
    display: inline-block;
    border: 1px solid darkgrey;
    width: 100%;
    margin-bottom: 15px;
}

div img {
    width: 100px;
    height: auto;
}

div:hover {
    background-color: #c19250;
}

div img {
    width: 100px;
    height: 100px;
    display: inline;
}

div p {
    display: inline;
    font-weight: bold;
    position: relative;
    bottom: 35px;
    left: 5px;
}

a {
    color: black;
}


footer {
    background-color: #1f272a;
    text-align: center;
    color: lightgrey;
    height: 50px;
}

footer p {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}

@media screen and (max-width: 1080px) {
    main {
        width: 100vw;
    }
}

@media screen and (max-width: 465px){
    footer {
        height: 60px;
    }
    footer p {
        position: relative;
        top: -10px;
    }
}

