* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

header#top {
    background-color: #1f272a;
    text-align: center;
    color: lightgrey;
    height: 50px;
    padding-top: 13px;
    font-weight: bolder;
    width: 100vw;
}

img#big {
    display: none;
}

section {
    width: 100%;
}
article h3 {
    text-align: center;
    line-height: 5px;
}


article p {
    color: darkgray;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px dotted darkgrey;
    margin: 0;
}



footer {
    clear: both;
    width: 100vw;
    height: 75px;
    background-color: #1f272a;
    text-align: center;
    color: lightgrey;
    position: sticky;
    bottom: 0;
    margin-top: -75px;
}

footer p {
    font-weight: bold;
    position: relative;
    top: 25px;
}

@media screen and (max-width: 1080px) {
    main {
        width: 100vw;
    }
}

